{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us ... </h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to my Dj-Ecom website</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="mt-2" >Our Story</h2>
            <p align="justify" class="mt-3" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at nisl in elit pellentesque ullamcorper. Nunc consequat massa leo, at tempor est feugiat at. Pellentesque in orci in tellus mollis auctor. Phasellus in rhoncus ligula. Donec sollicitudin lacus eget accumsan dignissim. Aliquam pretium pellentesque tempus. Etiam suscipit ullamcorper metus sed suscipit.
                <br/>
                <br/>
                Pellentesque leo nulla, gravida sed libero nec, pulvinar dapibus nulla. Nam vel ornare dui. Sed at est et ipsum faucibus interdum in at purus. Donec quis malesuada orci, eget malesuada lorem. Donec sed nisi eu leo pretium hendrerit accumsan eget nibh. Integer iaculis urna eget tempus vestibulum. Sed nisl erat, maximus vel venenatis in, accumsan in nisl. Mauris eu purus eget sem commodo aliquet et eget diam. Sed interdum quis massa sed pellentesque. Maecenas mattis odio enim, et laoreet nisl luctus vitae. Pellentesque consequat est in turpis volutpat, porta ullamcorper magna euismod. Fusce et purus vitae urna lobortis vehicula.
                <br/>
                <br/>
                Proin a est dapibus, posuere odio et, faucibus velit. Integer tincidunt bibendum turpis, nec faucibus tortor feugiat vitae. Proin mattis molestie quam. Donec efficitur porta nibh pharetra mattis. Phasellus ornare lacinia libero eget tempor. Ut consectetur ac lectus eget pharetra. Cras vehicula est sed metus ornare, at efficitur orci scelerisque. Vivamus at lacinia lectus, nec suscipit turpis. Maecenas pretium pulvinar ultrices. Phasellus odio sapien, hendrerit sed augue ut, fermentum sollicitudin nulla. In pharetra sagittis nulla at faucibus. Fusce interdum, sapien et consectetur dignissim, magna neque molestie enim, quis tempus ipsum ipsum nec massa. Nullam et placerat elit. Cras pharetra nulla et purus ullamcorper sagittis.
                <br/>
                <br/>
                Pellentesque leo nulla, gravida sed libero nec, pulvinar dapibus nulla. Nam vel ornare dui. Sed at est et ipsum faucibus interdum in at purus. Donec quis malesuada orci, eget malesuada lorem. Donec sed nisi eu leo pretium hendrerit accumsan eget nibh. Integer iaculis urna eget tempus vestibulum. Sed nisl erat, maximus vel venenatis in, accumsan in nisl. Mauris eu purus eget sem commodo aliquet et eget diam. Sed interdum quis massa sed pellentesque. Maecenas mattis odio enim, et laoreet nisl luctus vitae. Pellentesque consequat est in turpis volutpat, porta ullamcorper magna euismod. Fusce et purus vitae urna lobortis vehicula.
                <br/>
                <br/>
            </p>
            </p>
        </div>
    </div>
</div>

{% endblock %}