{% extends 'base.html' %}

{% block content %}

<!-- Implement login page -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mt-2">Login</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="btn btn-secodary mt-2">Login</button>
            </form>
        </div>
    </div>
</div>


<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>


{% endblock %}