{% extends 'base.html' %}

{% block content %}

<!-- Implement login page -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mt-2">Register</h2>
            <form method="post">
                {% csrf_token %}
                {{ from.as_p }}
                <button type="submit" class="btn btn-secondary mt-2">Create</button>
            </form>
        </div>
    </div>
</div>


<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>


{% endblock %}